
{% extends "base.html" %}

{% block title %}Simulverse Management System{% endblock %}
{% block head %}
{{ super() }}

<script type="text/javascript">
  function verifyPassword() {  
    var un = document.getElementById("username").value;  
    //check empty username field  
    if(un == "") {  
       alert("E-mail is empty"); 
       
       return false;  
    }
    var pw = document.getElementById("password").value;  
    //check empty password field  
    if(pw == "") {  
       alert("Password is empty"); 
       
       return false;  
    }
    document.getElementById("myForm").submit();
  }  
</script>

{% endblock %}
{% block top_nav %}
    {% include 'include/topnav.html' %}
{%  endblock %}

{% block page_content %}

<main role="main" class="container">
    <div class="row">
        <div class="text-danger font-weight-bold">
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}
      </div>
    </div>
    <div class="row" >
      <form method="POST" id="myForm">
        <section class="vh-100">
  
          <div class="container-fluid h-custom">
            
            <div
              class="row d-flex justify-content-center align-items-center h-100"
            >
              <p></p>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h4 class="mb-3">Sign-In</h4>

                  <hr class="mb-4" />
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      name="username"
                      id="username"
                      class="form-control form-control-lg"
                      placeholder="Enter a valid email address"
                    />
                    <label class="form-label" for="form3Example3"
                      >Email address</label
                    >
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="form-control form-control-lg"
                      placeholder="Enter password"
                    />
                    <label class="form-label" for="password">Password</label>
                  </div>
  
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem"
                      onclick="verifyPassword()"
                    >
                      Login
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                      Don't have an account?
                      <a href="/register/" class="link-danger">Register</a>
                    </p>
                  </div>
              </div>
            </div>
          </div>
        </section>
      </form> 
    </div>
</main><!-- /.container -->


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}