{% extends "base.html" %} 
{% block title %}Simulverse Management System{%endblock %} 

{% block head %}
{{ super() }}
<script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
<script src="https://unpkg.com/aframe-event-set-component@5/dist/aframe-event-set-component.min.js"></script>
<script src="https://unpkg.com/aframe-layout-component@5.3.0/dist/aframe-layout-component.min.js"></script>
<script src="https://unpkg.com/aframe-template-component@3.2.1/dist/aframe-template-component.min.js"></script>
<script src="https://unpkg.com/aframe-proxy-event-component@2.1.0/dist/aframe-proxy-event-component.min.js"></script>
<script src="{{ url_for('static', path='/scripts/link-controls.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/scripts/contents-save.js') }}" crossorigin="anonymous"></script>

<!-- POI System Scripts -->
<script src="{{ url_for('static', path='/scripts/poi-marker.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/scripts/responsive-panel.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/scripts/poi-editor.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/scripts/poi-editor-component.js') }}" crossorigin="anonymous"></script>

<!-- POI Modal CSS -->
<link rel="stylesheet" href="{{ url_for('static', path='/css/poi-modal.css') }}">

{% endblock %} 

{% block top_nav %}
    {% include 'include/topnav-sidebar.html' %}
{%  endblock %}

{% block page_content %} {% include 'include/sidebar.html' %}
<!-- 로그인 화면-->
<main role="main" class="container">
  <div class="row">
    <div class="text-danger font-weight-bold">
      {% for error in errors %}
      <li>{{error}}</li>
      {% endfor %}
    </div>
  </div>

  <div class="row" style="height: 75vh;">
    <a-scene embedded>
      <a-assets>
        <!-- Images. -->
        <img id="background" src="/asset/image/{{data.background}}" crossorigin="anonymous">
      </a-assets>

      <!-- 360-degree image. -->
      <a-sky id="image-360" radius="10" src="#background"></a-sky>

      <!-- POI Editor (Editor only) -->
      {% if data.is_editor %}
      <a-entity poi-editor="enabled: true"></a-entity>
      {% endif %}

      <!-- Links -->
      {% for link in data.links%}
      <a-link class="clickable" title="{{link[0]}}" href="/space/scene/{{data.space_id}}/{{link[1]}}" origin="{{link[8]}}"
              position="{{link[2]}} {{link[3]}} {{link[4]}}" rotation="{{link[5]}} {{link[6]}} {{link[7]}}"></a-link>
      {% endfor%}

      <!-- POIs -->
      {% for poi in data.pois %}
      <a-entity
        poi-marker="
          poiId: {{ poi.poi_id }};
          type: {{ poi.type }};
          title: {{ poi.title }};
          description: {{ poi.description or '' }};
          {% if poi.image_id %}imageUrl: /asset/image/{{ poi.image_id }};{% endif %}
          {% if poi.target_scene_id %}targetSceneId: {{ poi.target_scene_id }};{% endif %}
          {% if poi.media_url %}mediaUrl: {{ poi.media_url }};{% endif %}
          {% if poi.media_type %}mediaType: {{ poi.media_type }};{% endif %}
        "
        position="{{ poi.position.x }} {{ poi.position.y }} {{ poi.position.z }}"
        rotation="{{ poi.rotation.x }} {{ poi.rotation.y }} {{ poi.rotation.z }}"
        scale="{{ poi.scale.x }} {{ poi.scale.y }} {{ poi.scale.z }}"
        visible="{{ 'true' if poi.visible else 'false' }}"
      ></a-entity>
      {% endfor %}

      <a-box class="clickable" contents-save="space_id:{{data.space_id}}" height="0.5" width="0.5" position="0 -2 -2" color="red"></a-box>

      <a-camera>
        <a-cursor
          id="cursor"
          animation__click="property: scale; from: 0.1 0.1 0.1; to: 1 1 1; easing: easeInCubic; dur: 150; startEvents: click"
          animation__clickreset="property: scale; to: 0.1 0.1 0.1; dur: 1; startEvents: animationcomplete__click"
          animation__fusing="property: scale; from: 1 1 1; to: 0.1 0.1 0.1; easing: easeInCubic; dur: 150; startEvents: fusing"></a-cursor>
      </a-camera>
    </a-scene>

  </div>

  <!-- Initialize POI Editor -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Initialize POI editor with scene and space IDs
      {% if data.is_editor %}
      initPOIEditor('{{ data.scene_id }}', '{{ data.space_id }}');
      {% endif %}
    });
  </script>
</main>
<!-- /.container -->

{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
