{% extends "base.html" %} 
{% block title %}Simulverse Management System{%endblock %} 

{% block head %} 
{{ super() }} 

<script src="{{ url_for('static', path='/scripts/dynamic_fields.js') }}" crossorigin="anonymous"></script>

<script type="text/javascript">
    function readSingleFile(e) {
            const name = e[0].name;
            document.getElementById("file-label").textContent = name;
    }
    
  </script>

{% endblock %} 

{% block page_content
%} {% include 'include/sidebar.html' %}
<!-- 로그인 화면-->
<main role="main" class="container">
  <div class="row">
    <div class="text-danger font-weight-bold">
      {% for error in errors %}
      <li>{{error}}</li>
      {% endfor %}
    </div>
  </div>

  <!-- 

<script type="text/javascript">
  function readSingleFile(e) {
          const name = e[0].name;
          document.getElementById("file-label").textContent = name;
  }
  
</script>
<div class="container">
  <form action="/admin/regions/add_item" method="POST" enctype="multipart/form-data">
    <div class="form-groupvid">
      <label for="vid">Region ID</label>
      <input class="form-control" id="vid" type="text" placeholder="Region ID" name="vrid" readonly=""/>
    </div>
    <label for="scene">Scene Name: </label>
    <input class="form-control" id="scene" type="text" placeholder="Scene Name" name="SceneName"/>
    <label for="file">Image File</label>
    <input class="form-control" id="file" type="file" placeholder="Image" name="file" on="on" change="readSingleFile(this.files)"/>
    <label for="left">Left Position</label> <img class="image" id="left" src="/images/left.png" style="width:25px; height:25px;"/>
    <input class="form-control" id="left" type="text" placeholder="Enter Scene Name to connect" name="leftPos"/>
    <label for="up">Up Position</label> <img class="image" id="up" src="/images/up.png" style="width:25px; height:25px;"/>
    <input class="form-control" id="up" type="text" placeholder="Enter Scene Name to connect" name="upPos"/>
    <label for="right">Right Position</label> <img class="image" id="up" src="/images/right.png" style="width:25px; height:25px;"/>
    <input class="form-control" id="up" type="text" placeholder="Enter Scene Name to connect" name="rightPos"/>
    <label for="down">Down Position</label> <img class="image" id="up" src="/images/down.png" style="width:25px; height:25px;"/>
    <input class="form-control" id="up" type="text" placeholder="Enter Scene Name to connect" name="downPos"/>
  </form>
</div>
  -->
  
    <form method="POST", enctype='multipart/form-data'>
      <section class="vh-100">
        <div class="container">
          <p></p>
          <h4 class="mb-3">Create Scene</h4>
        </div>

        <!-- input space name -->
        <div class="container">
          <label for="scene_name">Scene Name</label>
          <input
            class="form-control"
            id="scene_name"
            placeholder="Enter unique space name"
            name="scene_name"
          />
        </div>

        <div class="container">
            <label for="file">Image File</label>
            <input class="form-control" id="file" type="file" placeholder="Image" name="file" on="on" change="readSingleFile(this.files)"/>
        </div>
        
        <div class="container" id="itemList">
          <p></p>
          <a class="btn btn-primary btn-sm" id="addItemBtn" onclick="addField()"> Add Link</a>
          <div class="row" id="listItem" hidden="true">            
            <div class ="col" style="float: left;">
                <label> Scene Link </label>
                </div>
              <div class ="col">
                <!-- select user access  -->
                <select
                  class="form-control"
                  name="link"
                  id="access"
                >
                  <option value="Viewer" selected="true" id="select-editor">
                    Viewer
                  </option>
                </select>
              </div>

            <div class="col" id="div_del">
              <button
                class="btn btn-danger btn-sm"
                border:none
                id="delbutton"
              >
                Remove Link
              </button>
            </div>
          </div>
        </div>

        <div class="container">
          <p></p>
          <button
            class="btn btn-primary btn-lg btn-block"
            border:none
            type="submit"
            value="input"
          >
            Create
          </button>
        </div>
      </section>
    </form>

</main>
<!-- /.container -->

{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
