
{% extends "base.html" %}

{% block title %}Simulverse Management System{% endblock %}
{% block head %}
{{ super() }}

<script type="text/javascript">
function del_scene(space_id, scene_id) {
    var url = '/space/delete/scene/' + space_id +'/' + scene_id

    $.ajax({
            type: "POST",
            url: url,
            data: space_id,
            success: function () {
                location.reload();
            },
        });

}

function del_space(space_id) {
    var url = '/space/delete/space/' + space_id

    $.ajax({
            type: "POST",
            url: url,
            data: space_id,
            success: function () {
                location.reload();
            },
        });
}
</script>

{% endblock %}

{% block top_nav %}
    {% include 'include/topnav.html' %}
{%  endblock %}

{% block page_content %}

{% with msg=msg %}
    {% include "include/alerts.html" %}
{% endwith %}

<main role="main" class="container">
  <div class="jumbotron">
    {{data.text|safe}}
  </div>
  {% if login is sameas true%}
    {% for k, jumbo in data.scenes.items() %}
      <div class="jumbotron">
          <!-- Scene name-->
          <p>{{jumbo}}</p><a class="btn btn-sm btn-primary" href="/space/scene/{{data.space_id}}/{{k}}" role="button">view »</a>
          
          {% if data.role == 'Editor' %}
          <a class="btn btn-sm btn-primary" href="/space/scene/edit/{{data.space_id}}/{{k}}/"
              role="button">Update Scene »</a>
          <a class="btn btn-sm btn-danger"
              role="button" onclick="del_scene('{{data.space_id}}', '{{k}}')">Delete Scene »</a>
          {% else %}
          <a class="btn btn-sm btn-secondary" role="button"> Update Scene »</a>
          <a class="btn btn-sm btn-secondary" role="button"> Delete Scene »</a>
          {% endif %}
      </div>
      <p></p>
  {% endfor %}
{% endif %}
    {% if data.role == 'Editor' %}
            <a class="btn btn-sm btn-primary" href="/space/insert/{{data.space_id}}"
                role="button">Insert Scene »</a>
        {% else %}
            <a class="btn btn-sm btn-secondary" role="button">Insert Scene »</a>
        {% endif %}
</main><!-- /.container -->


{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}